/* Hero */
/* ============ Hero info =============== */
.hero .hero__info {
    width: 540px;
    max-width: 100%;
}

.hero .hero__title {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.67;
}

.hero .text-color {
    color: #7264d6;
}

.hero .hero__desc {
    margin-top: 20px;
}

.hero .hero__newsletters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 8px 8px 8px 23px;
    width: 100%;
    border-radius: 8px;

    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero .hero__newsletters-email::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero .hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.72;
}

/* ============ Hero media =============== */
.hero__media {
    position: relative;
    display: inline-flex;
}

.hero__media-img {
    width: 296px;
    max-width: 100%;
}

/* Hero deposit */
.hero__deposit {
    position: absolute;
    top: 118px;
    left: -100px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__deposit-inner {
    display: flex;
    align-items: center;
    margin-right: 19px;
}

.hero__deposit-icon {
    width: 18px;
    height: 18px;
    color: #8376e2;
}

.hero__deposit-text {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 10px;
}

.hero__deposit-number {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__deposit-update__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero interest */
.hero__interest {
    position: absolute;
    top: 125px;
    right: -60%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #da6464;
}

.hero__interest-number {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.4;
}

.hero__interest-text {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.2;
}

/* Hero secured funds */
.hero__funds {
    border-radius: 10px;
    background: #439f90;
    padding: 20px 14px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: -73px;
    bottom: 65px;
}

.hero__funds-icon {
    width: 20px;
    height: 26px;
    margin-right: 11px;
}

.hero__funds-number {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
}

.hero__funds-text {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    text-transform: uppercase;
}

/* PC */
@media screen and (min-width: 992px)  and (max-width: 1140px) {
    .hero .hero__interest {
        right: -32%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
    .hero .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hero .col-12 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .hero__info {
        width: 100%;
    }

    .hero .hero__media {
        margin-bottom: 100px;
    }

    .hero .hero__title {
        font-size: 5rem;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .hero .hero__deposit,
    .hero .hero__interest,
    .hero .hero__funds {
        display: none;
    }

    .hero .hero__media {
        margin-bottom: 50px;
    }

    .hero .hero__title {
        font-size: 4rem;
    }
}
