/* Update */
.update {
    margin-top: 160px;
}

/* Update Header */

.update .update__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    column-gap: 30px;
}

.update .update__left {
    width: 450px;
    max-width: 100%;
}

.update .update__item {
    padding: 28px;
    display: inline-flex;
    align-items: center;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    margin-bottom: 30px;
}


.update .update__item-img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 22px;
}

.update .update__item-content {
    display: inline-block;

}

.update .update__item-date {
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.72;
}

.update .update__item-title {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.update .update__item-link {
    margin-top: 20px;
    color: #7264d6;
    font-size: 1.6rem;
    line-height: 1.63;
}

/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
    .update .btn-black {
        margin-top: 30px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .update .update__item {padding: 10px;}
    .update .update__left {
        width: 400px;
        max-width: 100%;
    }
}
