/* ================ Header ================*/
.header {
    background-color: #fff;
    padding-top: 16px;
    position: sticky;
    top: -16px;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 42px 0 25px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    font-weight: 600;
    border-bottom: 1px solid var(--primary-color);
    padding: 8px 14px;
}


.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--black-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo-img {
    margin-right: 1rem;
}

/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar .logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }
}


/* Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .actions {
        display: none;
    }
}


